# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# JetBrains
.idea/

# Windows
Thumbs.db

# macOS
.DS_Store


*firebase-adminsdk*.json